---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: democratic-csi
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.15.0
  url: oci://ghcr.io/democratic-csi/charts/democratic-csi
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi
spec:
  chartRef:
    kind: OCIRepository
    name: democratic-csi
  interval: 1h
  values:
    controller:
      fullnameOverride: *name
      enabled: true
      strategy: node
      externalAttacher:
        enabled: false
      externalProvisioner:
        enabled: true
        image:
          registry: registry.k8s.io/sig-storage/csi-provisioner
          tag: v5.2.0
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1
      externalResizer:
        enabled: false
      externalSnapshotter:
        enabled: true
        image:
          registry: registry.k8s.io/sig-storage/csi-snapshotter
          tag: v8.2.1
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
    csiDriver:
      name: democratic-csi
      attachRequired: false
      storageCapacity: true
      fsGroupPolicy: File
    storageClasses:
      - name: truenas-nfs-storage
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: true
    volumeSnapshotClasses:
      - name: truenas-nfs-storage-snapshots
        annotations:
          snapshot.storage.kubernetes.io/is-default-class: "true"
        deletionPolicy: Delete
        parameters: {}
    driver:
      config:
        driver: freenas-api-nfs
        logLevel: debug
        instance_id:
        httpConnection:
          protocol: https
          host: 192.168.1.235
          port: 443
          apiKey: "1-tZKE6cqUtMI8o91kTGzmfTjNYDR4t4xht3dVZdVK8JOpflVEzcq4ZNYpuJCSa26S"
          allowInsecure: true
          apiVersion: 2
    csiProxy:
      image:
        registry: ghcr.io/democratic-csi/csi-grpc-proxy
        tag: v0.5.6