# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: external-dns-unifi
#   namespace: flux-system
# spec:
#   targetNamespace: network
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   path: ./kubernetes/apps/network/unifi/app
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#   wait: false
#   interval: 30m
#   retryInterval: 1m
#   timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-unifi
spec:
  interval: 1h
  path: ./kubernetes/apps/network/unifi/app
  postBuild:
    substituteFrom:
    - name: cluster-secrets
      kind: Secret
prune: true
sourceRef:
  kind: GitRepository
  name: flux-system
  namespace: flux-system
targetNamespace:
wait: true