
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-unifi
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    disableSchemaValidation: true # Ref: https://github.com/kubernetes-sigs/external-dns/issues/5206
    remediation:
      strategy: rollback
      retries: 3
  values:
    provider:
      name: webhook
      webhook:
        image: ghcr.io/kashalls/external-dns-unifi-webhook:main
        imagePullPolicy: IfNotPresent
        env:
          - name: UNIFI_HOST
            value: https://192.168.1.1
          - name: UNIFI_EXTERNAL_CONTROLLER
            value: "false"
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: external-dns-unifi
                key: UNIFI_API_KEY
          # - name: UNIFI_PASSWORD
          #   value: Externaldns123
          - name: LOG_LEVEL
            value: debug
        ports:
          - name: http-webhook
            protocol: TCP
            containerPort: 8888
          - name: http-wh-metrics
            protocol: TCP
            containerPort: 8080
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /healthz
            port: http-wh-metrics
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 6
          httpGet:
            path: /readyz
            port: http-wh-metrics
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5