apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns-unifi
  namespace: external-dns
  labels:
    helm.sh/chart: external-dns-1.14.3
    app.kubernetes.io/name: external-dns
    app.kubernetes.io/instance: external-dns-unifi
    app.kubernetes.io/version: "0.14.0"
    app.kubernetes.io/managed-by: Helm
automountServiceAccountToken: true
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-unifi
  namespace: external-dns
spec:
  refreshInterval: "5m"
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password
  target:
    creationPolicy: Owner
  data:
    - secretKey: UNIFI_API_KEY
      remoteRef:
        key: external-dns-unifi
        property: UNIFI_API_KEY