apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app longhorn
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: longhorn
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    # https://github.com/longhorn/longhorn/blob/v1.9.1/chart/values.yaml
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
    preUpgradeChecker:
      jobEnabled: false
      upgradeVersionCheck: false